{% extends 'base.html' %}

{% block content %}
<h1>Create products</h1>
<div class="alert alert-error">
    {{ error }}
</div>
<form action="{% url 'store_product' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="title">Title</label>
    <div class="pt-1"></div>
    <input type="text" name="title" id="title">
    <div class="pt-2"></div>
    <label for="url">Url</label>
    <div class="pt-1"></div>
    <input type="text" name="url" id="url">
    <div class="pt-2"></div>
    <label for="body">Body</label>
    <div class="pt-1"></div>
    <textarea name="body" id="body" cols="30" rows="10"></textarea>
    <div class="pt-2"></div>
    <label for="icon">Icon</label>
    <div class="pt-1"></div>
    <input type="file" name="icon" id="icon">
    <div class="pt-2"></div>
    <label for="image">Image</label>
    <div class="pt-1"></div>
    <input type="file" name="image" id="image">
    <div class="pt-4"></div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}